body{
  margin: 0;
}

.headerLogo{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.bookHolder{
  display:flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.book{
  border: 3px solid black;
  width: 650px;
}

.coverImg{
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}