body{
  margin: 0;
  background-color: gray;
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;

  margin: 0;
}

a{
  color: inherit;
}

h1{
  color: white;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Playfair Display SC', serif;
  text-decoration: underline;
}

h2{
  text-decoration: underline;
  font-weight:700;
}

h2,h3{
  font-family: 'Noto Serif JP', serif;
  text-align: center;
  margin-bottom: 0;
}

.subNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1px;

  margin-bottom: 1em;
  color: white;
  background-color: black;
  padding: 1em;
}
.tocLink{
  margin: 0 5px 0 0;
  font-size: 1.15em;
}
.tocLink > a{
  text-decoration: none;
}

.bookHolder{
  display:flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.description{
  padding: 0 1em 0 1em;
}

.published,.ordinalStr{
  text-align: center;
  margin-top:1px;
}

.book{
  border: 10px groove rgb(101, 101, 101);
  width: 650px;
  background-color: #FCF5EF;
}

.coverImg{
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.mechanics, .linkBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


footer{
  height:25px;
  color: white;
  background-color: black;
  margin-bottom: 0;
  text-align: right;
}